<p>
  cocina works!
</p>
<h2></h2>
       <div class="btn-group">
       <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
    Number_lunch <span class="caret"></span>
  </button>
       <ul class="dropdown-menu" role="menu">
         <li><a href="#">id: 1, name: "Hamburguesa Simple", price: 1500</a></li>
         <li><a href="#">id: 2, name: "Hamburguesa Doble",price: 2500</a></li>
         <li><a href="#">id: 3, name: "Huevo",price: 500</a></li>
         <li><a href="#">id: 4, name: "Queso", price: 500</a></li>
         <li><a href="#">id: 5, name: "Papas Fritas", price: 500</a></li>
         <li><a href="#">id: 6, name:"Onion Rings",price: 500</a></li>
         <li><a href="#">id: 7, name:"Agua 750ml",price: 800</a></li>
         <li><a href="#">id: 8, name:"Agua 500ml",price: 500</a></li>
         <li><a href="#">id: 9, name:"Gaseosa 750ml",price: 1000</a></li>
         </ul>
      </div>
       <h3></h3>
    
       <button type="button" class="btn btn-menu_hamburger dropdown-toggle"
          data-toggle="dropdown">
    menu_hamburger <span class="caret"></span>
  </button>
       <ul>
         <li>typeMeat: "res"</li>
         <li>typeMeat:"pollo"</li>
         <li>typeMeat:"vegi"</li>