<h2>{{ pedidoMostrarNombre.name | uppercase }}</h2>
<div><span>id: </span>{{ pedidoMostrarNombre.id }}</div>
<div>
    <label>name:
    <input [(ngModel)]="pedidoMostrarNombre.name" placeholder="name" />
  </label>
</div>
<!--<button type="button" class="btn btn-dark btn-lg" style=" margin: 1rem">
  {{ menu_mesero }}
</button>
<button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
  {{ menu_meseroListo }}
</button>

<button (click)="cambiarMenuAlmuerzo()">ALMUERZO</button>-->