<h2>{{ pedidoMostrarNombre.name | uppercase }} Details</h2>
<div><span>id: </span>{{ pedidoMostrarNombre.id }}</div>
<div>
  <label
    >name:
    <input [(ngModel)]="pedidoMostrarNombre.name" placeholder="name" />
  </label>
</div>
<!--<button type="button" class="btn btn-dark btn-lg" style=" margin: 1rem">
  {{ menu_mesero }}
</button>
<button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
  {{ menu_meseroListo }}
</button>

<button (click)="cambiarMenuAlmuerzo()">ALMUERZO</button>-->
<div>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    CAFE AMERICANO $500
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    CAFE CON LECHE $700
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    SANDWICH JAMON QUESO $100
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    JUGO NATURAL $700
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    HAMBURGUESA SIMPLE $1500
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    HAMBURGUESA DOBLE $2500
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    PAPAS FRITAS $500
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    ONION RINGS $500
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    AGUA 500/cc $500
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    AGUA 750/cc $800
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    GASEOSA 500/cc $700
  </button>
  <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
    GASEOSA 750/cc $1000
  </button>
</div>
